/* ! == FORM ==*/
.form-group {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    margin: 0 -7px;
    /*(overflow: hidden;*/
    .block-input {
        /*width: 33.3333%;
        float: left;*/
        /*flex-basis: 200px;
        -webkit-flex-basis: 200px;
        -ms-flex-preferred-size: 200px;*/
        max-width: 33.3333%;
        padding: 0 7px;
    }
}
.block-input input, .block-message textarea {
    background: #fff;
    font-weight: 400;
    font-size: 1.4rem;
    font-family: $default-font;
    color: #5896cc;
    display: block;
    width: 100%;
    border: none;
    padding: 0 10px 0 17px;
}
.block-input
{
    position: relative;
    width: 100%;
    margin-bottom: 13px;
    input {
        height: 43px;
        line-height: 43px;
    }
}
.block-message {
    textarea {
        text-align: left;
        min-height: 67px;
        max-height: 67px;
        min-width: 100%;
        max-width: 100%;
        padding: 10px 10px 10px 17px;
    }
}
::-webkit-input-placeholder {
    font-size: 1.4rem;
    font-family: $default-font;
    color: #5896cc;
    opacity: 1;
}
:-moz-placeholder {
    font-size: 1.4rem;
    font-family: $default-font;
    color: #5896cc;
    opacity: 1;
}
::-moz-placeholder {
    font-size: 1.4rem;
    font-family: $default-font;
    color: #5896cc;
    opacity: 1;
}
:-ms-input-placeholder {
    font-size: 1.4rem;
    font-family: $default-font;
    color: #5896cc;
    opacity: 1;
}