/* ! -- select -- */
.selectbox {
    position: relative;
    display: block !important;
    vertical-align: middle;
    cursor: pointer;
    .select {
        background: #fff;
        width: 100%;
        padding: 0 30px 0 15px;
        height: 41px;
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        border: 1px solid #5896cc;
        float: none !important;
        opacity: 1;
        z-index: 1 !important;
        .text {
            font-style: normal;
            font-weight: 500;
            font-size: 1.3rem;
            color: #5896CC;
            /*text-transform: uppercase;*/
            display: block;
            text-align: left;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .trigger {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 30px;
        height: 100%;
        .arrow {
            position: absolute;
            top: 50%;
            left: 5px;
            margin-top: -4px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 8px solid #6da3d2;
            width: 0;
            height: 0;
            @include all-transition();
        }
    }
    .dropdown {
        background: #fff;
        top: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: #FFF;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        z-index: 8;
        li {
            font-weight: 400;
            font-size: 1.2rem;
            padding: 6px 5px 6px 16px;
            color: #6da3d2;
            @include link-transition();
            &.selected, &:hover {
                background: #6da3d2;
                color: #fff;
            }
        }
    }
}
/*.selectbox.focused .select {
    border-color: #00d;
}
.selectbox:hover .trigger .arrow {
    opacity: 1;
}*/